body {
  background-color: white;
  display: grid;
  grid-template-columns: 25vw 1fr;
  gap: 10px;
  margin: 0 15px 15px;
}

div {
  display: block;
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  font-size: 13px;
  background-color: #ebe9e9;
  height: 40px;
}

main {
  display: flex;
  text-align: left;
  flex-direction: column;
  font-size: 17px;
  font-family: "OpenSans" Arial sans-serif;
  padding-right: 20px;
  color: #4D4E53;
}

.posi {
  position: fixed;
  top: 0;
  left: 0;
  border-right: 3px solid gray;
  font-family: "OpenSans" Arial sans-serif;
  color: #4D4E53;

}

.scroll {
  height: fit-content;
  overflow: scroll;
  height: 90vh;
  width: 21vw;
  position: fixed;
  border-top: 1px solid black;
  border-right: 3px solid gray;
}

header {
  font-size: 23px;
  text-align: left;
  padding-left: 36px;
  width: 90%;
  padding-right: 34px;
}

.line {
  border-bottom: 1px solid #000;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 9%;
  font-size: 17px;
  padding-bottom: 10px;
  font-family: "OpenSans" Arial sans-serif;
  color: #4D4E53;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding-left: 40px;
}
